body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2em;
  padding: 2em;
}

.form-container {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 65% ;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.password-field {
  display: flex;
  align-items: center;
}

.password-field input {
  flex: 1;
}

.password-field button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
}

.update-button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.profile-completeness {
  margin-top: 20px;
  text-align: center;
}

.progress-container {
  position: relative;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background: black;
}

.progress-percent {
  font-size: 14px;
  margin-top: 5px;
}

.checklist {
 background: rgb(222, 215, 215);
 padding: 1.5em;
 line-height: 30px;
 border-radius: 20px;
 margin-top: 3.5em;
}

.checklist ul {
  list-style: none;
  padding: 0;
}

.checklist li {
  font-size: 14px;
  margin-bottom: 5px;
}

.checklist li.completed {
  text-decoration: line-through;
  color: gray;
}
